@keyframes dotBouncing {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-4px);
    }
    60% {
      transform: translateY(-2px);
    }
  }
  
  .dot-bouncing {
    display: inline-flex;
    align-items: center;
  }
  
  .dot-bouncing span {
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: currentColor;
    border-radius: 60%;
    margin: 0 0.15em;
    animation: dotBouncing 1.5s infinite;
  }
  
  .dot-bouncing span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .dot-bouncing span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .dot-bouncing span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .dot-bouncing {
    position: relative;
    top: -2px;
  }
  
  .experience-item {
    display: none;
  }
  
  @media (max-width: 768px) {
    .experience-item {
      flex-direction: column; /* Fuerza que los elementos se apilen verticalmente en pantallas pequeñas */
    }
  
    .icon-wrapper {
      margin-bottom: 10px; /* Agrega espacio entre el ícono y el texto en pantallas pequeñas */
    }
  
    a.title-font {
      white-space: normal; /* Asegura que el texto no se corte y se ajuste a varias líneas */
    }
  }
  
  @media (max-width: 767px) {
    .experience-item.show {
      display: flex;
    }
  }
  
  @media (min-width: 768px) {
    .experience-item.show {
      display: flex;
    }
  
    .experience-item:nth-child(-n+2) {
      display: flex;
    }
  }

  .title-font {
    white-space: normal; /* Permite que el texto ocupe varias líneas si es necesario */
    word-wrap: break-word; /* Rompe las palabras largas si es necesario */
  }
  
  .truncate {
    white-space: normal; /* Esto también ayudará a evitar el truncamiento */
    overflow: visible; /* Asegura que el texto no se corte */
  }
  