.notification-button {
  position: relative;
  display: inline-block;
}

.icon-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  color: hsl(var(--foreground));
  transition: color 0.3s ease;
}

.icon-button:hover {
  color: hsl(var(--primary));
}

.notification-badge {
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));
  font-size: 1rem;
}

.notification-dropdown {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  width: 22rem;
  max-height: 28rem;
  background-color: hsl(var(--card));
  border-radius: var(--radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.notification-dropdown .header {
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: hsl(var(--card-foreground));
  background-color: hsl(var(--secondary));
  text-align: center;
}

.notification-dropdown .content {
  border-top: 1px solid hsl(var(--border));
  max-height: 18rem;
  overflow-y: auto;
}

.notification-dropdown .item {
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid hsl(var(--border)); 
  background-color: hsl(var(--card)); 
  color: hsl(var(--card-foreground)); 
  white-space: normal;
  word-wrap: break-word;
}

.notification-dropdown .item:last-child {
  border-bottom: none;
}

.notification-dropdown .item:hover {
  background-color: hsl(var(--secondary));
}

.notification-dropdown .see-all {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  text-align: center;
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
  border-top: 1px solid hsl(var(--border));
}

@media (max-width: 640px) {
  .notification-dropdown {
    width: 16rem;
  }
}

@media (max-width: 480px) {
  .notification-dropdown {
    width: 16rem;
  }
}

.notification-dropdown .content {
  border-top: 1px solid hsl(var(--border));
  max-height: 18rem;
  overflow-y: auto;
  
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #888 #f1f1f1; /* Para Firefox */
}

.notification-dropdown .content::-webkit-scrollbar {
  width: 8px; 
}

.notification-dropdown .content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.notification-dropdown .content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.notification-dropdown .content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
