.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  position: relative;
  padding: 0 1rem;
}

.profile-container {
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .profile-image {
    width: 110px;
    height: 110px;
  }
}

.profile-container h2,
.profile-container h1,
.profile-container p,
.connect-button {
  margin: 0 0;
}

.profile-container h2 {
  font-size: 2rem;
}

.profile-container h1 {
  font-size: 2.5rem;
}

.profile-container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect-button {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  padding: 12px;
  margin-top: 4%;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  transition: background-color 0.3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.connect-button:hover {
  background-color: hsl(var(--secondary));
}

.dark .connect-button {
  background-color: hsl(0 0% 60%);
  color: hsl(var(--primary-foreground));
}

.dark .connect-button:hover {
  background-color: hsl(0 0% 75%);
}

.scroll-down-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: hsl(var(--foreground));
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.scroll-down-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.mouse-icon {
  width: 16px;
  height: 24px;
  border: 2px solid hsl(var(--foreground));
  border-radius: 8px;
  margin: 10px auto 0;
  position: relative;
}

.mouse-wheel {
  width: 4px;
  height: 4px;
  background-color: hsl(var(--foreground));
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 1.5s infinite;
}

@keyframes scroll {
  0% {
    top: 4px;
  }

  50% {
    top: 12px;
  }

  100% {
    top: 4px;
  }
}
