.connect-button {
  background-color: hsl(var(--primary)/70);
  color: hsl(var(--primary-foreground)/70);
  padding: 12px;
  margin-top: 4%;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.connect-button:hover {
  background-color: hsl(var(--foreground));
}

.dark .connect-button {
  background-color: hsla(225, 3%, 30%, 0.7);
  color: hsl(var(--primary-foreground)/70);
}

.dark .connect-button:hover {
  background-color: hsla(0, 0%, 60%, 0.7)/70;
}


.download-button {
  background-color: #253ba0;
  color: hsl(var(--primary-foreground));
  padding: 12px;
  margin-top: 4%;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.download-button:hover {
  background-color: #2d4fe1;
}

.dark .download-button {
  background-color: #263a92;
}

.dark .download-button:hover {
  background-color: #2640b4;
}


.scroll-down-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: hsl(var(--foreground));
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.scroll-down-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.mouse-icon {
  width: 16px;
  height: 24px;
  border: 2px solid hsl(var(--foreground));
  border-radius: 8px;
  margin: 10px auto 0;
  position: relative;
}

.mouse-wheel {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background: hsl(var(--foreground));
  border-radius: 50%;
  animation: slideDown 1s ease-in-out infinite alternate;
}

@keyframes slideDown {
  from {
    transform: translate(-50%, 0);
  }

  to {
    transform: translate(-50%, 8px);
  }
}


.text-profile {
  padding: 0 1px 0 0;
  color: hsl(var(--foreground));
  display: inline-block;
  border-right: .13em solid currentColor;
  white-space: nowrap;
  overflow: hidden;
  animation: blink 1.2s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}