@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navbar:  220 22% 15%;
    --background: 220 15% 90%; /* Soft Cool Gray */
    --foreground: 220 22% 20%; /* Darker Cool Gray */
    --card: 0 0% 100%; /* Pure White */
    --card-foreground: 220 15% 15%; /* Cool Gray for Cards */
    --primary: 0 0% 25%; /* Elegant Dark Gray */
    --primary-foreground: 0 0% 98%; /* White */
    --secondary: 0 0% 50%; /* Neutral Gray */
    --secondary-foreground: 0 0% 98%; /* White */
    --destructive: 0 72% 51%; /* Bright Red */
    --destructive-foreground: 0 0% 98%; /* White */
    --border: 220 15% 80%; /* Light Cool Gray */
    --input: 220 15% 90%; /* Light Cool Gray for Inputs */
    --ring: 0 0% 40%; /* Darker Cool Gray for Focus Rings */
    --radius: 0.5rem;
  }

  .dark {
    --navbar:  220 15% 25%; 
    --background: 220 22% 13%; /* Darker background for dark mode */
    --foreground: 0 0% 90%; /* Much lighter gray for text in dark mode */
    --card: 220 15% 25%; /* Dark Gray for cards in dark mode */
    --card-foreground: 0 0% 90%; /* Lighter Gray for text in dark mode */
    --primary: 0 0% 10%; /* Lighter gray for primary elements in dark mode */
    --primary-foreground: 0 0% 98%; /* White foreground for primary elements */
    --secondary: 0 0% 60%; /* Much lighter gray for secondary elements in dark mode */
    --secondary-foreground: 0 0% 98%; /* White for secondary foreground */
    --destructive: 0 65% 42%; /* Darker Red */
    --destructive-foreground: 0 0% 98%; /* White */
    --border: 0 0% 40%; /* Darker gray for borders */
    --input: 0 0% 80%; /* Darker gray for inputs */
    --ring: 0 0% 60%; /* Lighter gray for focus rings */
    --light-gray: 0 0% 95%; /* New light gray for reuse in dark mode */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;

  }
}


#hero {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-image {
  width: 150px;
  border-radius: 50%;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-10px);
  }
}

section {
  scroll-margin-top: 15vh; /* Ajusta según la altura de tu navbar */
}

.division {
  width: 100%;
  height: 2px;
  background-color: var(--card-background);
  margin: 5.5rem 0;
}

.category {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(20px);
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-10deg); }
  20% { transform: rotate(10deg); }
  30% { transform: rotate(-10deg); }
  40% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  60% { transform: rotate(10deg); }
  70% { transform: rotate(-10deg); }
  80% { transform: rotate(10deg); }
  90% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.icon-wrapper {
  transition: transform 0.3s ease;
}

.icon-wrapper:hover {
  animation: shake 0.6s ease;
}

button {
  position: relative;
  transition: transform 0.3s ease;
}

button.active-skill::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: black;
  transform: scaleX(1);
  transform-origin: center;
  transition: transform 0.3s ease;
}

button:not(.active-skill)::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.transition-opacity {
  transition: opacity 0.29 ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Para Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
