@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* White */
    --foreground: 0 0% 20%; /* Dark Gray */
    --card: 0 0% 100%; /* White */
    --card-foreground: 0 0% 20%; /* Dark Gray */
    --popover: 0 0% 100%; /* White */
    --popover-foreground: 0 0% 20%; /* Dark Gray */
    --primary: 0 0% 10%; /* Almost Black */
    --primary-foreground: 0 0% 98%; /* White */
    --secondary: 0 0% 90%; /* Light Gray */
    --secondary-foreground: 0 0% 10%; /* Almost Black */
    --muted: 0 0% 90%; /* Light Gray */
    --muted-foreground: 0 0% 40%; /* Gray */
    --accent: 0 0% 90%; /* Light Gray */
    --accent-foreground: 0 0% 10%; /* Almost Black */
    --destructive: 0 72% 51%; /* Red */
    --destructive-foreground: 0 0% 98%; /* White */
    --border: 0 0% 85%; /* Light Gray */
    --input: 0 0% 85%; /* Light Gray */
    --ring: 0 0% 10%; /* Almost Black */
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%; /* Almost Black */
    --foreground: 0 0% 98%; /* White */
    --card: 0 0% 15%; /* Dark Gray */
    --card-foreground: 0 0% 98%; /* White */
    --popover: 0 0% 15%; /* Dark Gray */
    --popover-foreground: 0 0% 98%; /* White */
    --primary: 0 0% 98%; /* White */
    --primary-foreground: 0 0% 10%; /* Almost Black */
    --secondary: 0 0% 25%; /* Gray */
    --secondary-foreground: 0 0% 98%; /* White */
    --muted: 0 0% 25%; /* Gray */
    --muted-foreground: 0 0% 80%; /* Light Gray */
    --accent: 0 0% 25%; /* Gray */
    --accent-foreground: 0 0% 98%; /* White */
    --destructive: 0 62.8% 30.6%; /* Dark Red */
    --destructive-foreground: 0 0% 98%; /* White */
    --border: 0 0% 25%; /* Gray */
    --input: 0 0% 25%; /* Gray */
    --ring: 0 0% 40%; /* Dark Gray */
    --chart-1: 0 0% 50%; /* Medium Gray */
    --chart-2: 0 0% 60%; /* Lighter Gray */
    --chart-3: 0 0% 70%; /* Even Lighter Gray */
    --chart-4: 0 0% 80%; /* Light Gray */
    --chart-5: 0 0% 90%; /* Very Light Gray */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;

  }
}


#hero {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-image {
  width: 150px;
  border-radius: 50%;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-10px);
  }
}


section {
  scroll-margin-top: 15vh; /* Ajusta según la altura de tu navbar */
}


.division {
  width: 100%;
  height: 2px;
  background-color: var(--card-background);
  margin: 5.5rem 0;
}

.category {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(20px);
}


@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-10deg); }
  20% { transform: rotate(10deg); }
  30% { transform: rotate(-10deg); }
  40% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  60% { transform: rotate(10deg); }
  70% { transform: rotate(-10deg); }
  80% { transform: rotate(10deg); }
  90% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.icon-wrapper {
  transition: transform 0.3s ease;
}

.icon-wrapper:hover {
  animation: shake 0.6s ease;
}

button {
  position: relative;
  transition: transform 0.3s ease;
}

button.active-skill::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: black;
  transform: scaleX(1);
  transform-origin: center;
  transition: transform 0.3s ease;
}

button:not(.active-skill)::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.transition-opacity {
  transition: opacity 0.29 ease-in-out;
}
